@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #b779f1;
  --color-font: #242733;
  --font-sans:
    "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
